html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#header {
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  font-weight: 600;
  border-bottom: 1px solid lightgray;
}

#content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  min-height: 400px;
}

#module-holder {
  padding: 10px;
  margin-left: 10px;
  font-weight: 600;
}

#variables {
  padding: 20px;
  margin-left: 10px;
  font-weight: 600;
  width: 100%;
}

#playground {
  padding: 20px;
  margin-left: 10px;
  font-weight: 600;
}

.module {
  padding: 15px;
  border: 2px lightskyblue solid;
  border-radius: 3px;
  margin: 10px;
}

#play-container {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

#search-modules {
  margin: 20px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
}

.func-def {
  padding: 10px;
  width: 100%;
  min-height: 200px;
  background-color: lightskyblue;
}

.func-def:focus {
  outline: none;
}

.box-func {
  display: grid;
  grid-template-columns: "3fr 1fr";
}

.var-def {
  margin-top: 10px;
  padding: 20px;
  background-color: lightslategray;
}

.params-El {
  font-size: 30px;
  font-weight: 600;
  background-color: yellow;
  width: fit-content;
  padding: 20px;
}

.params-El > input {
  margin: 20px;
  padding: 10px;
}

.header {
  padding: 30px;
}

#app {
  height: 100%;
}

header {
  color: pink;
}
