<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./assets/styles.css" />
  </head>
  <body>
    <div id="app"></div>
    <!-- <div id="header">
      JENE .
    </div>
    <div id="content">
      <div id="module-holder">
        Modules
        <input id="search-modules" placeholder="search" />
        <div id="func" uniqid="func" class="module" draggable="true">
          Function
        </div>
        <div id="string" uniqid="string" class="module" draggable="true">
          String
        </div>
        <div id="int" uniqid="int" class="module" draggable="true">
          Int
        </div>
        <div id="statement" uniqid="statement" class="module" draggable="true">
          Statement
        </div>
      </div>
      <div id="playground">
        Playground
      </div>
      <div id="variables">Variables</div>
    </div> -->

    <!-- <script type="module" src="./assets/index.js"></script> -->
    <script type="module" src="./assets/main.js"></script>
  </body>
</html>
